* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.logo, .nav-link, .contacts-email, .contacts-phone {
  text-decoration: none;
}

.logo:visited, .nav-link:visited, .contacts-email:visited, .contacts-phone:visited {
  color: #212121;
}

.contacts, .features-list {
  list-style: none;
}

.header-container, .features-container, .work-container, .team-container, .clients-container, .footer-container, .portfolio-container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  margin-left: 93px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-text {
  color: #2196f3;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  padding: 32px 0px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  bottom: 0;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-link.nav-link--current {
  color: #2196f3;
}

.nav-link.nav-link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  bottom: 0;
  border-radius: 2px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-email, .contacts-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-email:hover, .contacts-email:focus, .contacts-phone:focus, .contacts-phone:hover {
  color: #2196f3;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-background-min.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-background-min.png);
  text-align: center;
  padding: 200px 0px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero-button {
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  min-width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.hero-button:hover {
  background: #f5f4fa;
  -webkit-box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
          box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
  color: #2196f3;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.features {
  padding: 94px 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item {
  width: calc((100% - 90px) / 4);
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin-top: 10px;
  width: 270px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-thumb {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-image {
  display: block;
}

.work-item {
  position: relative;
}

.work-thumb {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.work-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.cardbox {
  padding: 30px 0px;
}

.cardbox-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.cardbox-profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-top: 10px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item + .socials-item {
  margin-left: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

.socials-link:hover, .socials-link:focus {
  background-color: #2196f3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
  text-align: center;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-thumb:nth-child(2) {
  margin-left: 70px;
}

.footer-thumb:nth-child(3) {
  margin-left: 93px;
}

.footer-thumb:nth-child(3) input {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer:nth-child(3) input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer:nth-child(3) input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer:nth-child(3) input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer:nth-child(3) input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer:nth-child(3) input:focus {
  border: 1px solid #2196f3;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer .socials-link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: #2196f3;
}

.footer-button {
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  min-width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms;
  transition: 250ms;
  margin-top: 0;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  -webkit-box-shadow: 0 15px 20px rgba(117, 117, 117, 0.7);
          box-shadow: 0 15px 20px rgba(117, 117, 117, 0.7);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.footer-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #fff;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .socials-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}

.address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-link {
  color: #fff;
}

.address-link:visited {
  color: #fff;
}

.address-email:hover, .address-email:focus, .address-phone:hover, .address-phone:focus {
  color: #2196f3;
}

.address-email, .address-phone {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-input {
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-icon {
  position: absolute;
  top: calc(50% + 10px);
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-name, .modal-tel, .modal-email, .modal-modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.01em;
}

.modal-list {
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal-item {
  position: relative;
}

.modal-item + .modal-item {
  margin-top: 10px;
}

.modal-textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-button {
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  min-width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms;
  transition: 250ms;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
          box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
}

.checkbox {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  border: solid 2px #212121;
  border-radius: 4px;
  margin-left: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  text-align: right;
  margin-right: 10px;
  display: block;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .checkbox-icon {
  background-image: url(../../image/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: #2196f3;
  background-color: #2196f3;
}

.checkbox-input:focus + .checkbox-icon {
  border: 1px solid #2196f3;
}

.checkbox-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.close-button {
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:focus, .close-button:hover {
  fill: #2196f3;
}

.portfolio {
  padding: 94px 0px;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  display: inline-block;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.portfolio-button.current-button {
  color: #fff;
  background-color: #2196f3;
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-button {
  color: #2196f3;
}

.production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.production-item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.production-link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.production-link:focus, .production-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.production-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.production-card {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.production-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.production-thumb {
  position: relative;
  overflow: hidden;
}

.production-img {
  display: block;
}

.production-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 0.9);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.production-link:focus .production-text,
.production-link:hover .production-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */